@import url(Responsive.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);

header{
    padding: min(.70em,2%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 0 0 10px rgb(153, 153, 153);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-sizing: border-box;
    z-index: 100;
}

.logo{
    width: 8rem;
}

.logo img{
    width: 100%;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    border-radius: 5px;
}

nav a:hover{
    background-color: rgb(248, 231, 157);
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

nav{
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: min(1em,2%);
    margin-top: min(3em,2%);
}

.timer{
    background-color: #242424;
    height: 300px;
    width: 9%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.timer span{
    font-size: .80em;
}

.timer div:not(:last-child){
    border-bottom: 1px solid #ffffff;
}

.timer div{
    text-align: center;
    width: 100%;
}

.container .image{
    width: 70%;
    height: 300px;
    background-color: gainsboro;
    border-radius: 15px;
}

header button{
    border: none;
    background-color: rgb(248, 231, 157);
    padding: 5px 15px;
    border-radius: 20px;
}

.stages{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: min(5em,5%) auto;
    gap: 10px;
}

.Milestone p{
    text-align: center;
    margin-top: 10px;
    color: #8b8b8b;
}

div.active-number{
    font-size: 2em;
    color: #333333;
}

.stage{
    width: 100px;
    height: 100px;
    background-color: rgb(173, 172, 172);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    box-sizing: border-box;
    flex-shrink: 0;
}

.Milestone{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #b1b1b1 1px solid;
    border-radius: 15px;
    padding: min(1em,2%);
    gap: 10px;
}

.Milestone.active{
    border: 2px solid rgb(248, 231, 157);
}

.active-stage{
    background-color: rgb(248, 231, 157);
    box-shadow: 0 0 20px rgb(253, 229, 119);
}

.Milestone span{
    color: #8b8b8b;
    width: 100px;
    margin-left: 10px;
}


footer{
    background-color: #f7f4f4;
    padding: min(3em,5%);
}

footer .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map{
    width: 50%;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(248, 231, 157);
    border-radius: 15px;
}

.copyright{
    padding: min(1em,1%);
    text-align: center;
}

.user{
    background-color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.image{
    position: relative;
}

.user .profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b1b1b1;
}

.fullName{
    line-height: 15px;
    margin-right: 25px;
    font-size: .80rem;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.contact{
    display: flex;
    justify-content: space-between;
    padding-top: min(5em,8%);
    padding-bottom: min(5em,8%);
    width: 75%;
}

.contact .phone{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact .phone button{
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #dadada;
}

.contact .group{
    display: flex;
    gap: 25px;
}

.group span{
    color: rgb(216, 192, 83);
}

.group span:last-child{
    position: relative;
    left: 20px;
}

.group .icons{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15px;
    cursor: pointer;
}

.group .icons i{
    font-size: 1.7rem;
}

.group .icons i:hover{
    color: rgb(192, 169, 64);;
}

a button{
    margin-top: 30px;
    border: none;
    border: 2px solid rgb(226, 205, 110);
    padding: 5px 15px;
    border-radius: 7px;
}

a button:active{
    background-color: rgb(226, 205, 110);
}

.contact .links a{
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.contact .links a:hover{
    color: rgba(66, 66, 250, 0.925);

}


